<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
            <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>About this webpage</h1>
        <p>This app is made to help the people write news!  </p>


        <a href="/"> Back to main page. </a>
    </body>
</html>