<!DOCTYPE html>
<html>
    <head>
        <title>Create New User</title>
         <link rel="stylesheet" href="main.css">
    </head>
    <body>
       <h1>Create new user</h1>
        <form method="post" action="/createUser">
            <input type="text" placeholder="Firstname" name="name"/> 
            <input type="text" placeholder="LastName" name="lastname"/> 
            <input type="text" placeholder="E-mail" name="email"/> 
            <p> </p>
            Password.
             <p> </p>
            <input type="password" name="password"/> 
            <input type="submit"/> 
        </form>


        <a href="/"> Back to main page. </a>
    </body>
</html>