<!DOCTYPE html>
<html>
    <head>
          <title>The Peoples News.</title>
    </head>
    <body>
       <title>The Peoples News.</title>

	    <h2> News Articles:</h2>
	    <ul>
	    <% @news.each do |news| %>
            <li><%= news.title %></li>
            <li><%= news.text %></li>
            <li>Author: <%= news.author %></li>
            
        <% end %>
        </ul>


         <h2> Users of this app </h2>
        <ul>
        <% @users.each do |user| %>
            <li><%= user.email %></li>
        <% end %>
	    </ul>


        <a href="/about"> About this page </a>
        <a href="/createUser"> Create A new User </a>
        <a href="/login"> Login </a>
    </body>
</html>