<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Log into the webpage.</h1>
        
        <form method="post" action="/login">
        	<input type="text" name="email"/> 
        	<input type="password" name="password"/> 
        	<input type="submit" /> 
        </form>


        <a href="/"> Back to main page. </a>
    </body>
</html>