<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
               <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Log into the webpage.</h1>
        
        <% if defined?(failedLogin) and failedLogin == true %>
            <p> Log in failed </p>
        <% end %> 

        <ul>
        <form method="post" action="/login">
        	<input type="text" name="email"/> 
        	<input type="password" name="password"/> 
        	<input type="submit" /> 
        </form>
    </ul>

<p> </p>
        <a href="/"> Back to main page. </a>
    </body>
</html>